header{
	background-color: #0C2A5B  ;
	padding-top: 20px;
	position:sticky;
}
header h1{
	text-align: center;
	padding-bottom: 20px;
	color: white;
	text-decoration: none;
	font-size: 40px;
}
body{
	
	background-color: black;
	margin: 0px 0px;
}
main{
	margin: 0px 50px;
}
.aboutme{
	
	background-color: #0C2A5B ;
	margin: 10px;
	height: 325px;
	
}
.schooling{
	background-color: #0C2A5B;
	padding: 100px;
	margin: 10px;
	
}
.getmedschool{
	background-color:#0C2A5B ;
	padding: 100px;
	margin: 10px;
}



img{
	width: 200px;
	height: 200px;
}

h1{
	color: #0C2A5B ;
	font-size: 30px;
	font-family: 'Atma', cursive;
	text-decoration: bold;
}
p{
	
	font-size: 25px;
	font-family: sans-serif;
	
}